.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 0 10px var(--shadow);
}
.homeContainerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    background-color: var(--secondary);
    border-bottom: 1px  var(--shadow);
}
.homeContainerBody{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.homeContentCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px var(--shadow);
    transition: all 0.3s ease-in-out;
}
.homeContentCard:hover{
    box-shadow: 0px 0px 20px var(--shadow);
    transform: scale(1.1);
}
.homeContentCardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    background-color: var(--secondary);
    border-bottom: 1px  var(--shadow);
}
.homeContentCardHeader img{
    height: 20px;
    width: 20px;
}
.homeContentCardContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: calc(100vh - 90vh);
}
